.categories {
    text-align: left;
    padding: 20px;
  }
  
  .categories-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  .category {
    width: 200px;
    text-align: center;
    cursor: pointer;
  }
  
  .category img {
    width: 100%;
    border-radius: 10px;
  }
  
  

  