.jobs {
    text-align: left;
    padding: 20px;
  }
  
  .jobs-list {
    display: block;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }
  
  .job-item {
    background-color: #f8f8f8;
    margin: 30px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  