.container {
  position: sticky; 
  bottom: 0;       
  left: 0;         
  width: 100%;     
  background-color: white; 
  padding: 10px 40px; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
  z-index: 1000;   
  text-align: center;
}

.progressBarContainer {
  width: 100%;
  height: 5px;
  background-color: #e0e0e0;
  margin-bottom: 10px; 
}

.progressBar {
  height: 100%;
  background-color: rgb(0, 123, 255);
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.prevButton {
  background-color: #f0f0f0;
  color: #333;
}
.cancelButton{
  background-color: #cb2424;
  color: white;
}
.nextButton {
  background-color: rgb(0, 123, 255);
  color: white;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
