
.container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  gap: 50px;
}

.leftSection {
  flex: 1;
  max-width: 50%;
}

.leftSection h2{
  font-size: 36px;
}
.leftSection p{
  color: #555;
}

.rightSection {
  flex: 1;
  max-width: 50%;
}

.segmentation {
  margin-bottom: 30px; 
}

.segmentation h4 {
  margin-bottom: 15px;
  font-size: 18px;
}

.segmentationRadio {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}



.segmentationRadio p {
  margin: 5px 0 15px 28px; 
  color: #555;
  font-size: 14px;
}
  
  
  
  .title {
    font-weight: bold;
  }
  
 
  .segmentationRadio label {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .segmentationRadio label:hover {
    border-color: #00b3ff;
    background: #f0f9ff;
  }
  
  .radioContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .segmentationRadio span {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
  }
  
  .segmentationRadio p {
    font-size: 0.9rem;
    color: #777;
    margin: 0;
  }
  
  
  .segmentationRadio input[type="radio"] {
    accent-color: #00b3ff;
    width: 18px;
    height: 18px;
  }
  
  
  .segmentationRadio input[type="radio"]:checked + span {
    color: #00b3ff;
    font-weight: 600;
  }
  
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      padding: 20px;
    }
  
    .rightSection {
      max-width: 100%;
    }
  }
  