.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.logo span {
  color: #00b3ff; 
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav ul li {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav ul li:hover {
  color: #00b3ff; 
}

.authButtons button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.authButtons .loginBtn {
  background-color: transparent;
  color: #333;
}

.authButtons .loginBtn:hover {
  background-color: #00b3ff;
  color: #fff; 
}

.authButtons .signupBtn {
  background-color: #00b3ff;
  color: #fff;
}

.authButtons .signupBtn:hover {
  background-color: #008cdd; 
}
