.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    
  }
  
  .navbar-logo a{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .navbar-logo span {
    color: #007bff;
  }
  
  .navbar-links a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
  }
  
  .navbar-search {
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 20%;
  }
  
  .navbar-profile {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
  }
  